.header
  .header__title
    = link_to 'picdiary.',root_path
  .header__login
    %ul
      %li=link_to "新規投稿",new_post_url
      %li=link_to "ログアウト",'#'
.nav

.main
  .contents
    - @posts.each do |post|
      .contents__img{style: "background-image: url(#{post.image});"}
      .contents__row
        %p.contents__subject
          = post.subject
        %span.name
          = post.nickname
